.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}

.box {
    aspect-ratio: 1;
    background-color: chocolate;
    color: white;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}